.app-container {
    padding: 10px;
    font-family: Arial, sans-serif;
  }
  
  .tag {
    background-color: #ccc;
    padding: 2px 6px;
    margin-right: 4px;
    border-radius: 4px;
    display: inline-block;
  }
  
  
  .close-btn {
    cursor: pointer;
    color: red;
    font-weight: bold;
  }
  
  .field {
    margin-bottom: 15px;
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .save-btn, .cancel-btn {
    padding: 6px 12px;
  }
  
  .action-btn {
    background-color: #36A1B6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .action-btn:hover {
    background-color: #2a8795;
  }
  
  .field-column {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  .label-container {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .label-container label {
    white-space: nowrap;
  }
  
  .required-marker {
    color: red;
  }
  
  .margin-top {
    margin-top: 12px;
  }
  
  .error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
  }
  

  .create-button {
    position: absolute;
    right: 20px;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #36A1B6; 
    color: white;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .create-button:hover {
    background-color: #36A1B6; 
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
  }
  
  .create-button:active {
    transform: translateY(1px); 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
  
  
  #data-grid-demo {
    width: 100%; /* Ensure it uses the full available width */
    max-width: 98%; /* Limit to 98% to give some margin */
    margin: 0 auto; /* Center it horizontally */
    padding: 10px; /* Optional: Adds some padding around the grid */
    box-sizing: border-box; /* Ensure padding and border are included in the width calculation */
  }
  
  .devextreme-react-data-grid {
    width: 100%; /* Ensures that DataGrid takes up the full width of its parent */
    height: 80vh; /* Keeps your height as is, or change it as per your requirement */
  }


  .popup-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .popup-actions button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .popup-actions button:hover {
    background-color: #0056b3;
  }
  
  