
  
/* App.css */
.dx-popup-title {
  font-weight: bold;
  font-size: 18px;
}

.dx-popup-content {
  padding-top: 20px;
}

.dx-tagbox .dx-texteditor-input {
  padding: 10px;
}

.dx-field-item-label-text {
  font-weight: 500;
}
/* App.css */
.compact-form .dx-field-item {
  margin-bottom: 8px !important;
}

.compact-form .dx-field-item-label {
  font-weight: 500;
}
