.app-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .data-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  .data-table th, .data-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .data-table td {
    cursor: pointer;
  }
  
  .tag {
    background-color: #ccc;
    padding: 2px 6px;
    margin-right: 4px;
    border-radius: 4px;
    display: inline-block;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-box {
    background: white;
    padding: 20px;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0 0 10px #000;
    position: absolute !important;
    z-index: 1000;
    margin-top: 4px;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .close-btn {
    cursor: pointer;
    color: red;
    font-weight: bold;
  }
  
  .field {
    margin-bottom: 15px;
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .save-btn, .cancel-btn {
    padding: 6px 12px;
  }
  

  .create-button {
    position: absolute;
    right: 20px;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #36A1B6; 
    color: white;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .create-button:hover {
    background-color: #36A1B6; 
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
  }
  
  .create-button:active {
    transform: translateY(1px); 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
  
  